<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>
<!--/*@thymesVar id="pet" type="guru.springframework.sfgpetclinic.model.Pet"*/-->
<!--/*@thymesVar id="visit" type="guru.springframework.sfgpetclinic.model.Visit"*/-->

<!--isNew Property on the Base Entity-->
<h2>
    <th:block th:if="${visit['new']}">New</th:block>
    Visit
</h2>

<b>Pet</b>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Type</th>
        <th>Owner</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${pet.name}"> Pet Name</td>
        <td th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}">Birth Date</td>
        <td th:text="${pet.petType}"> Pet Type</td>
        <td th:text="${pet.owner?.firstName + ' ' + pet.owner?.lastName}">Owner's Name</td>
    </tr>
    </tbody>
</table>

<!--We didn't specify th:action of form in createOrUpdateOwnerForm.-->
<!--Thymeleaf understand action from the handler-->
<!--If @GetMapping("/new") handler returns createOrUpdateOwnerForm to create owner,-->
<!--  on submission the corresponding POST handler method will get called.-->
<form th:object="${visit}" method="post"
      class="form-horizontal" id="add-visit-form">

    <input type="hidden" name="petId" th:value="${pet.id}"/>

    <div class="form-group has-feedback">

        <input
                th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}"/>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

            <!--isNew Property on the Base Entity-->
            <button type="submit" class="btn btn-default"
                    th:with="text=${visit['new']} ? 'Add Visit' : 'Update Visit'"
                    th:text="${text}">Add/Update Visit
            </button>
        </div>
    </div>

</form>

<br/>
<b>Previous Visits</b>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${!visit['new']}" th:each="visit : ${pet.visits}">
        <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}">Birth Date</td>
        <td th:text="${visit.description}"> Pet Type</td>
    </tr>
    </tbody>
</table>
</body>
</html>